
/* Corpo */

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  width: 100%;
  padding: 0 25px;
  ;
  display: flex;
  align-items: center;
  justify-content: center;

}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 150px;
}

.title-container .title-content {
  width: 55%;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.title-container .title-content h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.title-container .title-content h1 mark {
  color: var(--color-secondary);
  background-color: transparent;
}

.title-container .title-content p {
  padding-right: 100px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

.title-container .title-content p:nth-child(4) {
  margin-bottom: 40px;
}

.title-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
}

.title-img-container img {
  border: 5px solid var(--color-primary);
  border-radius: 50%;
  max-width: 100%;
}

.courses-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courses-container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.courses-container .courses-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.courses-container .courses-content .courses i {
  transition: 400ms ease;
}

.courses-container .courses-content .courses[open] i {
  transform: rotate(180deg);
}

.courses-container .courses-content .courses summary {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  transition: .4s ease;
  border: 1px solid var(--color-text-light);
  border-radius: 8px;
  padding: 10px;
  transition: 400ms ease;
}

.courses-container .courses-content .courses p.text-content {
  margin-left: 10px;
  margin-top: 10px;
}


.courses-container .courses-content .courses p.text-content ul.text-content {
  margin: 15px;
  font-size: .9em;
}

.courses-container .courses-content .courses ul.text-content {
  gap: 20px;
  padding-left: 15px;
}

.courses-container .courses-content .courses ul.text-content li {
  display: flex;
  justify-content: space-between;
  max-width: 330px;
  width: 100%;
}

.technology-container {
  flex-direction: column;
  align-items: center;
}

.technology-container p {
  text-align: center;
  margin: 20px 0;
}

.technology-container .list-technology {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.technology-container .list-technology ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.technology-container .list-technology ul li .technology i {
  font-size: 80px;
}

.see-more {
  min-height: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsividade */

@media (max-width: 968px) {
  .title-container {
    justify-content: center;
    flex-direction: column;
  }

  .title-container .title-content {
    max-width: 550px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .title-container .title-content h1 {
    font-size: 2.4em;
  }

  .title-container .title-content p {
    padding-right: 0;
  }

  .title-container .title-content .btn-container {
    display: flex;
    justify-content: space-between;
  }

  .technology-container .list-technology ul {
    justify-content: center;
    gap: 70px;
  }
}

@media (max-width: 705px) {
  .width-content {
    width: 100%;
  }

  .title-container {
    padding-top: 200px;
  }

  .title-container .title-content h1 {
    font-size: 1.6em;
  }

  .title-container .title-content p {
    margin-bottom: 10px;

  }

  .title-container .title-content .buttons {
    margin: 0 auto;
  }

  .courses-container .courses-content .courses ul {
    padding-left: 5px;
  }

  .courses-container .courses-content .courses ul li {
    width: 100%;
  }

  .technology-container p {
    text-align: center;
  }

  .technology-container .list-technology ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .technology-container .list-technology ul li .technology {
    font-size: 1.4em;
  }

  .technology-container .list-technology ul li ul .experience {
    margin-top: 5px;
  }

}

@media (max-width: 360px) {
  .title-container .title-content h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 360px) {
  .title-container .title-content h1 {
    font-size: 1.3em;

  }
}

/* Animações */

.typing-animation {
  border-right: 4px solid #949494d8;
  white-space: nowrap;
  overflow: hidden;
  animation:
    blinkCursor 1000ms infinite normal,
    typing 4s steps(33) 1s normal both;
}


@keyframes typing {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blinkCursor {
  0% {
    border-right-color: var(--color-title);
  }

  100% {
    border-right-color: transparent;
  }
}

